[submodule "sample/control-tower"]
	path = sample/control-tower
	url = https://github.com/ngareleo/control-tower.git
[submodule "sample/scrapy"]
	path = sample/scrapy
	url = https://github.com/scrapy/scrapy.git
